@import "prefixed";

$border-radius: 4px;

[container] {
	background: #eee;
}

main[container] {
	margin: 1em auto;
}

ul {
	list-style-type: none;
}

.col1of2 {
	float: left;
	padding: 5px;
	width: 49%;
}

article.entry {
	padding: 43.2px 33.2px;
}

.company-name {
	margin-top: 0px;
}

.basic-catalog-list {
	li {
		// background: white;
		border: 1px solid #ccc;
		
		&.active {
			background: white;
		}

		&:first-child{
			@include prefixed(border-radius, $border-radius $border-radius 0 0);
		}

		&:last-child{
			@include prefixed(border-radius, 0 0 $border-radius $border-radius);
		}

		p {
			padding: 5px;
			margin-bottom: 0px;
		}
	}
}

.category-link {
	font-size: 0.8em;
	padding: 5px;

	&:first-child{
		padding-left: 0px;
	}

	&:last-child {
		padding-right: 0px;
	}
}

.delete-link {
	cursor: pointer;
	display: inline-block;
	padding: 3px 6px;

	&:hover {
		background: #ddd;
	}

	a {
		padding-left: 8px;
		color: #555;

		&:hover {
			text-decoration: none;
		}
	}
}

.contact-entry {
	h4, p {
		margin-bottom: 0px;
	}

	a {
		display: block;
	}
}